.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emojiButtons {
  margin:10px;
  font-size: 40px;
}

.submitButton {
  width: 100px;
  color: white;
  border-radius: 30px;
  background-color: #3b4d71;
  height: 50px;
  border: none;
  padding: 10px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  align-self: center;
}

.strengthChecker {
  background:#53565d;
  font-size:16px;
  border-radius: 20px;
  padding:1.5vh;
  overflow: auto;
  justify-content: left;
  text-align: left;
}

.inputBox {
  width: 400px;
  border-radius: 30px;
  height: 30px;
  border: none;
  padding: 10px;
  font-size: 20px;
  margin: 20px;
}


.submitButton:hover {
  background: darkgrey;
}
